/* breadcrumb */
.breadcrumb-container .breadcrumb {
  background-color: transparent;
  padding: 0;
  padding-left: -15px;
  padding-right: -15px;
  font-size: 14px;
}

.breadcrumb-container .breadcrumb-item {
  align-items: center;
  display: flex;
}

.breadcrumb-item > a {
  color: #5C6470;
  text-decoration: none;
}
.breadcrumb-item > a:hover {
  color: #4340d8;
  text-decoration: none;
}

.breadcrumb-icon {
  font-size: 24px;
  display: block;
}

.breadcrumb-container .breadcrumb-item + .breadcrumb-item::before {
  padding-right: 8px;
  color: #5C6470;
  content: "\e947";
  font-family: "viatrips";
  font-size: 16px;
}

.breadcrumb-item.active > a {
  color: #8F97A3;
}

/* title 1 */
.title-index h2{
  justify-content: center;
  font-size: 24px;
  color: #4340d8;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.underline-title {
  width: 40px;
  height: 4px;
  background-color: #FFCA00;
  border-radius: 2px;
  margin-right: 0px !important;
  float: right;
}

/*content1*/
#searching-trip {
  padding: 0px;
  margin: 0px;
}
#img-content1{
  border-radius: 8px;
}

.input-box3,
.input-box4 {
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 16px;
  margin: 0px;
}

#no-trip{
  font-size: 24px;
}

#time-to {
  font-size: 20px;
  color: #737D8C;
  margin-bottom: 8px;
  margin-top: 8px;
}

.button {
  font-size: 16px;
  height: 48px;
  line-height: 32px;
  background-color: #4340d8;
  color: white;
  font-weight: bold;
  width: 178px;
  border-radius: 8px;
  border: #4340d8 2px solid;
  transition: all ease .5s;
}

#content1-box {
  margin: 0px;
  padding: 0px;
}
#content2box{
  padding: 0px;
}
#content1-box2 {
  margin: 0px;
  padding: 0px;
}

#content2-1,
#content2-2,
#content2 {
  padding: 0px;
  margin-left: 0px;
}

#content2-1-1{
  padding-right: 16px;
  padding-left: 0px;

}
#content2-2-2{
  padding-left:16px ;
  padding-right: 0px;
}
#img2 {
  padding-left: 0px;
  padding-right: 0px;
}

#name-card {
  margin-bottom: 0px;
  font-size: 24px;
}

#chu {
  font-size: 20px;
  color: #737D8C;
}

.icon-star {
  color: #FFCA00;
}

#number-star {
  font-size: 16px;
  font-weight: bold;
}
#total-price span{
  float: right;
}
#total {
  font-size: 24px;
  font-weight: bold;
}

#price {
  font-size: 24px;
  color: #FF3A44;
  font-weight: bold;
}
#content2-2-4{
  padding: 0px;
}

#line-card2 {
  margin-top: 8px;
  margin-bottom: 8px;
  border: solid 0.5px #737D8C;
}

#date h5{
  font: 16px;
  font-weight: bold;
}
#date{
  border-right: #737D8C 1px solid;
  padding-right:0px;
}

#infor-place h5{
  font: 16px;
  font-weight: bold;
}


.button3 {
  color: white;
  font-size: 16px;
  height: 48px;
  font-weight: bold;
  line-height: 32px;
  background-color: #4340d8;
  border-radius: 8px;
  border: #4340d8 solid 2px;
  transition: all ease .5s;
  width: 200px;
  float: right;
}

/* Explore */
.Explore h1 {
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  margin-top: 8px;
}

.Explore p {
  font-size: 16px;
  line-height: 18px;
  color: #737D8C;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 16px;
}

/* Popular */
.Popular h1 {
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  margin-top: 8px;
}

.Popular p {
  font-size: 16px;
  line-height: 18px;
  color: #737D8C;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 0px;
}

/* Popular */
.Hotel h1 {
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  margin-top: 8px;
}

.Hotel p {
  font-size: 16px;
  line-height: 18px;
  color: #737D8C;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 0px;
}

.banner {
  /* The image used */
  margin-top: 40px;
  height: 350px;
  background-image: url("../imgs/imgs-Mytrip/bannerfinal.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}

#TitleFinal {
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 24px;
  color: white;
}
#mt-4{
  margin-top: 16px !important;
}

#ContentFinal {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 0px;
  color: white;
}

.primary-button1 {
  border-radius: 8px;
  height: 48px;
  background-color: none;
  line-height: 32px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border: 2px solid #4340d8;
  background-color: #4340d8;
  margin-top: 0px !important;
  transition: all ease .5s;
}




/* RESPONSIVE */
/* XL */
@media (min-width: 1200px) {
  #navbarNav {
    display: none !important;
  }

  /* title1 */
  .underline-title {
    margin-right: 127px;
  }

  .underline-titlePopular {
    margin-right: 384px;
  }

  .underline-titleHotel {
    margin-right: 436px;
  }

  .button1:hover {
    background-color: #4340d8;
    border: #4340d8 solid 2px;
    border-radius: 8px;
    text-align: center;
    color: white;
    margin-left: 48px;
    transition: all ease 0.5s;
  }

  /* title2 */
  #titile2 {
    margin-right: 170px;
  }

 

  



  #img2 {
    height:180px;
     border-radius:8px ;
  }

  /* title3*/
  #titile3 {
    margin-right: 415px;
  }
  .banner {
    /* The image used */
    margin-top: 40px;
    background-image: url("../imgs/imgs-Mytrip/bannerfinal.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
    height: 350px;
    width: 100%;
  }
  .button:hover{
    background-color: #FFCA00;
    color: black;
    border: #FFCA00 2px solid;
    transition: all ease .5s;
  }
  .button3:hover{
    background-color: #FFCA00;
    color: black;
    border: #FFCA00 2px solid;
    transition: all ease .5s;
  }
  .primary-button1:hover {
    background-color: rgba(255, 255, 255, 0);
    border:#FFCA00 solid 2px;
    line-height: 32px;
    background-color: #FFCA00;
    color:  black;
    transition: all ease .5s;
  }
 
  
}

/* LG */
@media (min-width: 992px) and (max-width: 1199px) {


  #navbarNav {
    display: none !important;
  }

  /* title1 */
  .underline-title {
    margin-right: 82px;
  }

  .underline-titlePopular {
    margin-right: 294px;
  }

  .underline-titleHotel {
    margin-right: 345px;
  }

  /* title2 */
  #titile2 {
    margin-right: 127px;
  }



  #img2 {
    padding-left: 0px;
    padding-right: 0px;
    height: 180px;
  }

  /* title3*/
  #titile3 {
    margin-right: 327px;
  }
  .button:hover{
    background-color: #FFCA00;
    color: black;
    border: #FFCA00 2px solid;
    transition: all ease .5s;
  }
  .button3:hover{
    background-color: #FFCA00;
    color: black;
    border: #FFCA00 2px solid;
    transition: all ease .5s;
  }
  .primary-button1:hover {
    background-color: rgba(255, 255, 255, 0);
    border:#FFCA00 solid 2px;
    line-height: 32px;
    background-color: #FFCA00;
    color:  black;
    transition: all ease .5s;
  }

}

/* MD */
@media (min-width: 768px) and (max-width: 991px) {

  #navbarNav {
    display: none !important;
  }

  /* title1 */
  .underline-title {
    margin-right: 21px;
  }

  .title-home h2 {
    margin-top: 32px;
  }

  .underline-titlePopular {
    margin-right: 173px;
  }

  .underline-titleHotel {
    margin-right: 224px;
  }

  /* title2 */
  #titile2 {
    margin-right: 63px;
  }

  #img2 {
    height: 130px;
  }

  .button3 {
    color: white;
    font-size: 16px;
    height: 48px;
    font-weight: bold;
    line-height: 32px;
    background-color: #4340d8;
    border-radius: 8px;
    border: #4340d8 solid 2px;
    transition: all ease .5s;
    width: 160px;
    float: right;
  }
  


  #chu {
    font-size: 16px;
    color: #737D8C;
  }




  #img2 {
    height: 173px;
    border-radius:8px ;
  }

  /* title3 */
  #titile3 {
    margin-right: 207px;
  }
  .primary-button1:hover {
    background-color: #4340d8;
    border: #4340d8 solid 2px;
    line-height: 32px;
    color: white;
    transition: all ease .5s;
  }
  #TitleFinal {
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 24px;
    color: white;
  }
}

/* SM */
@media (min-width: 576px) and (max-width: 767px) {



  /* title2 */
  #titile2 {
    margin-right: 62px;
  }

  #img2 {
    margin-bottom: 8px;
  }

  #chu {
    font-size: 16px;
    color: #737D8C;
    margin-left:0px;
  }


  #line-card2  {
    margin-right: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
  }


  #img2 {
    height: 165px;
  }

  /* title3 */
  #titile3 {
    margin-right: 115px;
  }
  .primary-button1:hover {
    background-color: #4340d8;
    color: white;
    line-height: 32px !important;
    border: #4340d8 solid 2px;
    transition: all ease .5s;
  }
  #TitleFinal {
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 24px;
    color: white;
  }
  #content2-2-2{
    padding-right: 0px;
  }
  #total {
    font-size: 20px;
    font-weight: bold;
  }
  
  #price {
    font-size: 20px;
    color: #FF3A44;
    font-weight: bold;
  }
  #total-price span{
    float: left;
  }
  #date{
    margin-left: 16px;
  }
  #infor-place{
    padding: 0px;
    padding-left: 16px;
  }
  .button3 {
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    background-color: #4340d8;
    border-radius: 8px;
    border: #4340d8 solid 2px;
    width: 476px;
    margin-top: 16px;
    margin-left: 16px;
  }
}

/* XS */
@media (max-width: 575px) {


  .title-home h2 {
    margin-top: 24px;
  }

  #img-content1 {
    margin-bottom: 8px;
  }

  .underline-titlePopular {
    margin-right: 24px;
  }

  .underline-titleHotel {
    margin-right: 76px;
  }

  /* title2 */
  #titile2 {
    margin-right: 54px;
  }

  #img2 {
    margin-bottom: 8px;
  }

 

  #chu {
    font-size: 16px;
    color: #737D8C;
  }




  #line-card2  {
    margin-right: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
  }


  #button3 {
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    background-color: #4340d8;
    border-radius: 8px;
    border: #4340d8 solid 2px;
    width: 360px;
    margin-top: 16px;
    margin-left: 16px;
  }

  #img2 {
    height: 165px;
    
  }


  #titile3 {
    margin-right: 56px;
  }
  .primary-button1:hover {
    line-height: 32px !important;
    background-color: #4340d8;
    color: #ffffff;
    border: #4340d8 solid 2px;
    transition: all ease .5s;
  }
  #TitleFinal {
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 24px;
    color: white;
  }
  .Hotel p {
    font-size: 16px;
    line-height: 18px;
    color: #737D8C;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 16px;
  }
  #total {
    font-size: 20px;
    font-weight: bold;
    padding-left: 16px;
  }
  
  #price {
    font-size: 20px;
    color: #FF3A44;
    font-weight: bold;
  }
  #total-price span{
    float: left;

  }
  #date{
    margin-left: 16px;
  }
  #infor-place{
    padding: 0px;
    padding-left: 16px;
  }

}